*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    background-color: #141414;
    font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
    color:white;
}
.icons8__icon{
    width: 25px;
    height: auto;
    filter: invert(1); /* Inverts the samples in the image*/
}
.not-inverted{
    filter: invert(0);
}
/* ---NAV BAR---*/

.navbar{
    position: sticky;
    top:0;
    display: flex;
    padding: 0 4%;
    min-height: 68px;
    align-items: center;
    font-size: small;
    background-color: black;
    z-index: 150;
}
.navbar__logo{
    display: flex;

}

/* > the style affect only the direct child */
.navbar__logo > img{
height: 50px;
display: flex;
align-items: center;
}
.navbar__browse{
    display:flex;
    flex: 1 0 auto; /* 1= agrandete lo que puedas 0= no te pongas nunca más pequeño auto=el decide el tamaño*/
    margin-left: 32px;
}

.navbar__browse > ul {
    list-style: none;
    color: white;
}

.navbar__browse > ul > li {
    display: inline;
    margin-left: 16px;
}
/* : firstchild selector is used to select the specified selector, only if it is the first child of its parent. */
.navbar__browse > ul > li:first-child {
    margin-left: 0;
}
.navbar__browse > ul > li:not(.navbar__browse--state-selected) > a:hover{
    color: red;
}
.navbar__browse > ul > li > a {
    text-decoration: none;
    color: inherit;  /* inherit: inherited styles from the parent element  in thi s case the color white*/
    transition: all 200ms ease-in;
}

.navbar__browse--state-selected{
    font-weight: bold;
}

.navbar__menu{
    display: flex;
    align-items: center;
}

.navbar__menu > img {
    margin-right: 16px;
    cursor: pointer;
}

.navbar__menu > img:last-child{
    margin-right: 0;
}
/*NAVBAR MOBILE */
.navbar__menu__mobile{
    display: none;
}

/*HEADER*/
.header{
    position: relative;
    margin-top: -68px;
    height: 100vh;
    width: 100%;
}
.header > video {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    opacity: 0.65;

}
.header__information{
    position: absolute;
    top:50%; 
    transform: translate(0, -50%);
    padding-left: 50px;
}
.header__information > * {
    margin-top:32px; 
}
.header__information > * :first-child{
    margin-top:0px; 
}

.header__information__type{
    display:flex;
    align-items: center;

}
.header__information__type > h2 {
    margin-left: 12px;
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 10px;
} 
.header__information__text > h1{
    font-size:80px;
    width: 40vw; 
    line-height: 90px;
    height: auto; 

}
.header__information__actions {
    display:flex;

}

.header__information__actions > button{
margin-left: 16px;
height: 44px;
display: flex;
align-items: center;
justify-content:center;
border: 0px;
border-radius:4px;
padding:4px 36px; 
font-size: 16px;
font-weight:bold;
cursor: pointer;
outline: none;
transition: opacity 0.4 ease-in;
}
.header__information__actions > button :first-child{
    margin-left:0;
}
.header__information__actions > button:last-child {
    background-color: rgba(109,109,110,0.7);
    color: white;
}
.header__information__actions > button:hover{
    opacity: 0.5;

}
.header__information__actions > button >img{
    margin-right: 10px;
}
/*MAIN SECTION */
.main{
    position: relative;
    margin-top: -20vh;
    background:linear-gradient(to bottom, transparent 6vh, #141414);
}
.main__section > h1{
    margin-left: 50px;
}
.main__section__carusel {
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /*Mozilla hide scrollBar*/
    margin-top: 24px;
    padding:40px 0px;
}
/*hide scrollbar Mozilla and Safari*/
.main__section__carusel::-webkit-scrollbar{
    display: none;
}
.main__section__carusel__card{
    margin-left: 8px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 150ms ease-in;
}
.main__section__carusel__card:first-child{
    margin-left: 48px; 
    
}
.main__section__carusel__card >img {
    width:300px;
    height: auto;
    border-radius: 4px;
}

.main__section__carusel__card > .carusel__card__text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    display: none;
}
.carusel__card__text{
    padding-left: 24px;
}
.main__section__carusel__card:hover{
    transform:scale(1.4); /*la img se agranda en el espacio que tenemos definido */
    z-index: 10;

}
.main__section__carusel__card:hover > .carusel__card__text{
    display:flex;
    align-items: center;
    text-transform: uppercase;
}

/*FOOTER SECTION */
.footer{
    padding:32px 48px;
}
.footer > * {
    margin-top:32px;
}
.footer >*:first-child{
    margin-top:0;
}
/* .footer > .footer__socialmedia > * { */
/*     margin-left:12px; */
/* } */
/* .footer > .footer__socialmedia > *:first-child{ */
/*     margin-left:0; */
/* }  intentamos a reducir codigo ver la linea de abajo*/
.footer > .footer__socialmedia > *:not(:first-child){
    margin-left: 12px;
}
.footer>.footer__info >ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}
.footer>.footer__info >ul> li{
    cursor: pointer;
    font-size: 14px;
    font-weight:normal;
    padding: 8px 0;
    flex: 1 0 25%;
}
.footer > .footer__copyright{
    color: grey; 
    font-size: small;
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {

    /*NAVBAR SECTION */
    .navbar__logo{
        flex: 1 0 auto;
    }
    .navbar__browse{
        display: none;
    }
    .navbar__menu{
        display: none;
    }
    .navbar__menu__mobile{
        display: block;
        position: relative;
    }
    .navbar__menu__mobile >img{
        width:34px; 
        height: auto;
    }
    .navbar__menu__mobile__list{
        display: none;
        position: absolute;
        top: 40px;
        padding:4px;
        background-color:black; 
    }
    .navbar__menu__mobile__list img {
        padding: 8px 4px;
    }
    .navbar__menu__mobile:hover > .navbar__menu__mobile__list{
        display: block;

    }
    /* HEADER*/
    .header__information{
        padding-left:24px;
    }
    .header__information__text > h1 {
        font-size: 48px;
        width:90vw;
    }
    .header__information__actions{
        flex-direction: column;
        width: 80%;
    }
    .header__information__actions > button {
        margin-left: 0;
        margin-top: 8px;
    }
/*MAIN SECTION*/
    .main__section > h1{
        margin-left: 24px;
    }
    .main__section__carusel__card:first-child{
        margin-left: 24px; 
        
    }
    /*FOOTER SECTION*/
    .footer {
    padding:32px 24px;
    }
    .footer > .footer__info >ul >li {
        flex: 1 0 50%;
    }

}
